/configuration.el
/recentf
/transient/
/projectile-bookmarks.eld
/places
/persp-confs/
/elpa/
/tramp
flycheck_*

# only commit select straight repos to git
!straight/

straight/*
!straight/repos/

straight/repos/*
!straight/repos/prot-lisp/
